<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1 id="title">ChaTon</h1>
        <p id="user-joined"></p>
      </header>

      <div class="username-update">
        <input type="text" id="name-area" placeholder="Atualizar username" />
        <button id="update-user-name">Atualizar</button>
      </div>

      <main class="chat-messages"></main>

      <div class="chat-input-area">
        <input type="text" id="input-area" placeholder="Digite sua mensagem" />
        <button id="send-btn">Enviar</button>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
